<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MercadoPagoSDK.Properties.Release" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="MercadoPagoSDK.Properties.Sandbox" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="MercadoPagoSDK.Sandbox" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="MercadoPagoSDK.Release" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="MercadoPagoSDK.Debug" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="MercadoPagoSDK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MercadoPagoSDK.Sandbox" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MercadoPagoSDK.Release" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MercadoPagoSDK.Debug" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MercadoPagoSDK.Properties.Release>
            <setting name="AppSecurityUri" serializeAs="String">
                <value>/oauth/token</value>
            </setting>
            <setting name="CollectionsUri" serializeAs="String">
                <value>/collections</value>
            </setting>
            <setting name="CollectionsNotificationsUri" serializeAs="String">
                <value>/collections/notifications</value>
            </setting>
            <setting name="CollectionsSearchUri" serializeAs="String">
                <value>/collections/search</value>
            </setting>
            <setting name="PreferencesUri" serializeAs="String">
                <value>/checkout/preferences</value>
            </setting>
            <setting name="AccountBalanceUri" serializeAs="String">
                <value>/mercadopago_account/balance</value>
            </setting>
            <setting name="UsersUri" serializeAs="String">
                <value>/users</value>
            </setting>
            <setting name="MovementsSearchUri" serializeAs="String">
                <value>/mercadopago_account/movements/search</value>
            </setting>
            <setting name="ApiBaseUrl" serializeAs="String">
                <value>https://api.mercadolibre.com</value>
            </setting>
            <setting name="MoneyRequestsUri" serializeAs="String">
                <value>/money_requests</value>
            </setting>
        </MercadoPagoSDK.Properties.Release>
        <MercadoPagoSDK.Properties.Sandbox>
            <setting name="ApiBaseUrl" serializeAs="String">
                <value>https://api.mercadolibre.com</value>
            </setting>
            <setting name="AppSecurityUri" serializeAs="String">
                <value>/oauth/token</value>
            </setting>
            <setting name="CollectionsUri" serializeAs="String">
                <value>/sandbox/collections</value>
            </setting>
            <setting name="CollectionsNotificationsUri" serializeAs="String">
                <value>/sandbox/collections/notifications</value>
            </setting>
            <setting name="CollectionsSearchUri" serializeAs="String">
                <value>/sandbox/collections/search</value>
            </setting>
            <setting name="PreferencesUri" serializeAs="String">
                <value>/sandbox/checkout/preferences</value>
            </setting>
            <setting name="AccountBalanceUri" serializeAs="String">
                <value>/mercadopago_account/balance</value>
            </setting>
            <setting name="UsersUri" serializeAs="String">
                <value>/users</value>
            </setting>
            <setting name="MovementsSearchUri" serializeAs="String">
                <value>/mercadopago_account/movements/search</value>
            </setting>
            <setting name="MoneyRequestsUri" serializeAs="String">
                <value>/money_requests</value>
            </setting>
        </MercadoPagoSDK.Properties.Sandbox>
    </applicationSettings>
</configuration>